* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b87ff;
}

.container {
  width: 90%;
  max-width: 34em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#new-task {
  position: relative;
  background-color: #ffffff;
  padding: 1.8em 1.25em;
  border-radius: 0.3em;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
}

#new-task input {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #d1d3d4;
  padding: 0.8em 0.5em;
  color: #111111;
  font-weight: 500;
}

#new-task input:focus {
  outline: none;
  border-color: #0b87ff;
}

#new-task button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: #0b87ff;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

#tasks {
  background-color: #ffffff;
  position: relative;
  padding: 1.8em 1.25em;
  margin-top: 3.8em;
  width: 100%;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  border-radius: 0.6em;
}

.task {
  background-color: #ffffff;
  padding: 0.3em 0.6em;
  margin-top: 0.6em;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
}

.button {
  margin-right: 10px;
  /* Espaçamento de 10 pixels entre os botões */
}

input.editable-input {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  height: 35px;
  background: none;
  width: 100%;
}

input.editable-input:focus {
  border-color: #f00;
}

table.table {
  width: 100%;
  background: none;
  border: none;
}

td {
  text-align: right;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button.btn-edit {
  background-color: #2196F3;
}

.button.btn-delete {
  background-color: #f44336;
}

#tasks td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.success-message {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  display: none;
}

.success-message-delete {
  background-color: #e34b4b;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-top-color: #ccc;
  border-radius: 50%;
  animation: loading-spinner 1s linear infinite;
}

@keyframes loading-spinner {
  to {
    transform: rotate(360deg);
  }
}

.d-none {
  display: none !important;
}